html,body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  z-index: 0;
}

.c-1-color {
  background: #d3d3d3;
}

.c-2-color {
  background: #83c58f;
}

.c-3-color {
  background: #ffec8b;
}

.c-4-color {
  background: #6897bb;
}

.slider-text {
  color: rgba(0,0,0,0.4);
  font-size: 1;
  background-blend-mode: multiply;
}

.noUi-target {
  height: 24px;
}

.noUi-base {
  height: 22px;
}

.noUi-connects {
  height: 22px;
}

.noUi-handle {
  height: 32px !important;
}

.noUi-handle:before, .noUi-handle:after {
  height: 18px;
}

.noUi-touch-area {
  height: 32px !important;
}

.noUi-marker-horizontal.noUi-marker-large {
  width: 1px;
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-normal {
  width: 1px;
  height: 6px;
}

.noUi-value {
    font-size: 12px;
}

#heightSlider .noUi-connect {
	background: #ccc;
}

#next-button {
  display: none;
}

#previous-button {
  display: none;
}

#loading {
  position: fixed;
  margin-left: -30px;
  margin-top: -30px;
  left: 50%;
  top: 50%;
  z-index: 10000;
  mix-blend-mode: multiply;
}

#loading img {
  /* -webkit-filter: hue-rotate(200deg);
  filter: hue-rotate(200deg); */
}

.data-component {
  border-width: 1px;
}

.floating-window {
  background-color: rgba(255,255,255,0.95);
  box-shadow: 2px 6px 30px rgba(0,0,0,0.2);
}


.dropdown-menu {
  box-shadow: 2px 6px 30px rgba(0,0,0,0.2);
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#menu-bottom {
  background-color: white;
  box-shadow: 2px 6px 30px rgba(0,0,0,0.2);
  z-index: 1000;
}

#menu-top {
  background-color: white;
  line-height: 12px;
  box-shadow: 2px 6px 30px rgba(0,0,0,0.2);
  z-index: 1000;
}

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

table {
  font-size: .8rem;
}

.table td {
  padding: .5rem;
}

.toggle-handle {
  background-color: white;
}
